html > body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  background-color: #efefef;
}
form {
  margin: 0;
}
.mdl-layout__header {
  position: relative;
  background-image: url(https://getmdl.io/templates/portfolio/images/header-bg.jpg);
}
/*.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}*/
.mdl-layout__content {
  display: flex;
  margin-top: 1em;
}
.mdl-card {
  max-width: 30em;
  width: 100%
}
.mdl-card__title {
  color: #fff;
  height: 176px;
  background: url(https://getmdl.io/assets/demos/welcome_card.jpg) center / cover;
}
.mdl-card__title-text {
  justify-content: flex-end;
  flex-grow: 1;
}
.mdl-card__menu a {
  color: #fff !important;
}

/* File upload */
.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}
