html > body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  background-color: #efefef;
}

/* MDL Override */
.mdl-card {
  max-width: 32em;
  width: 100%;
  margin: 0 auto;
}
.mdl-card__title {
  color: #fff;
  height: 11em;
  background: url(http://i.imgur.com/EyV48dk.jpg) center / cover;
}
.mdl-card__menu a {
  color: #fff !important;
}
.mdl-card__supporting-text {
  width: 100%;
  box-sizing: border-box;
}
.mdl-data-table {
  width: 100%;
}
.mdl-card__actions {
  padding-left: 1em;
}
/* End MDL Override */

.button-file {
  position: absolute;
  top: 6.5em;
  right: 0.6em;
}
.button-file input {
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 4;
}
.button-file input:not([disabled]) {
  cursor: pointer;
}
.input-section {
  display: flex;
  align-items: center;
}
/*
.input-section .mdl-switch {
  max-width: 9.4em;
  float: right;
}
*/
.table-section {
  overflow-x: auto;
}

/* Helper Classes */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 14em;
}
